@use 'base/variables' as v;
@use 'base/mixins' as m;

.menu-principal{
    //background-image: ;(colores e imagenes)
    background-image: url(../img/menu_arriba.svg), url(../img/menu_abajo.svg), linear-gradient(to top,
    v.$primario, v.$primario);
    background-repeat: no-repeat;
    background-position: center 5rem, center 93%, 100%; //imagen, imagen, color para que se junte con la galeria, sino toma el ultimo de 92% y separa el contenido
    padding:15rem 2rem 20rem 2rem;
    @include m.tablet{
        background-position: center 5rem, center 94%, 100%;
        background-size: 75%, 75%, 100%;
        padding:15rem 5rem 20rem 5rem;
    }
    @include m.desktop{
        background-position: center 5rem, center 90%, 100%;
        padding:15rem 0 20rem 0;
        //dos imagenes de fondo y el color de fondo
        background-size: 50%, 50%, 100%;
    }
}
.grid-menu{
     @include m.desktop{
        @include m.grid(2, 3rem);
     }   
}
.menu{
    h3{
        color:v.$blanco;
        margin-top: 5rem;
        @include m.tablet{
            margin-top:0;
        }
    }
}
    .listado-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:1rem;
        p{
            color:v.$blanco;
            font-size:1.8rem;
            line-height: 1.5;
            margin: 0 0 2rem 0;
            span{
                display:block;//forzar un salto de lines
                color:v.$secundario;
                font-size: 1.6rem;
                font-style: italic;
            }
        }
        .precio{
            font-weight: v.$bold;
        }
    }
.footer-menu{
    margin-top: -10rem;
}
    

