@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-entrada{
    text-align: justify;
    .titulo-entrada{
        color:v.$secundario;
        //text-transform: none;
        font-size: 1.8rem;
    }
    span{
        color:v.$naranjaOscuro;
        text-transform:capitalize;
    } 
}