@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    padding: 2rem 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70rem;
    @include m.tablet{
        height: 60rem;
    }

    &::before{
        content:"";
        background-color: v.$negro;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        opacity:.5;
    }
    
    .contenido-header{
        position: relative; // ya se va delante del before
        .texto-header{
            h1{
                text-align: center;
                color:v.$blanco;
                margin-top: 20rem;
                font-size:2.5rem;
                @include m.tablet{
                    font-size:3rem;
                    margin-top: 10rem;
                    
                }
            }
            &.mostrar{
                h1{
                    margin-top:7rem;
                }
               
            }
        }
          
    }
   
}

//header de cada pagina
.header-inicio{
    background-image: url('../img/header_inicio02.jpg');
}
.header-nosotros{
  background-image: url('../img/header_nosotros.jpg');
}
.header-proceso{
    background-image: url('../img/header_proceso.jpg');
}
.header-menu{
    background-image: url('../img/header_menu.jpg');
}
.header-blog{
    background-image: url('../img/header_blog.jpg');
}
.header-reserva{
    background-image: url('../img/header_reserva.jpg');
}
